<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>69890940954-f5o3265n1ms2i62b47g63au5cs00rshe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrjgvZPWKAW7ZNJbjF9ADnndK0C_Yar6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>69890940954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.sogeum.walker</string>
	<key>PROJECT_ID</key>
	<string>boolub</string>
	<key>STORAGE_BUCKET</key>
	<string>boolub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69890940954:ios:9e3703607facb25fb0b1a3</string>
</dict>
</plist>